<!DOCTYPE html>
<html lang="en" ng-app="angular-ux-tests">
  <head>
    <meta charset="UTF-8" />
    <title>Angular-UX - Form Elements</title>
    <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.css" />
    <script src="../assets/lodash/lodash.js"></script>
    <script src="../assets/jquery/jquery.js"></script>
    <script src="../assets/angular/angular.js"></script>
    <script src="../assets/angular/angular-sanitize.js"></script>
    <link rel="stylesheet" href="../dist/angular-ux.css" />
    <script src="../dist/angular-ux.js"></script>
    <style>
      .examples { border: 1px solid rgb(220, 220, 220); font: 500 10pt Verdana; }
      .examples > div { padding: 2px 0; }
      .examples > div > label { display: inline-block; width: 160px; }
      .examples > div > label + * { width: 160px; }

      .ux-combobox { width: 160px; }
    </style>
    <script>
      angular
        .module('angular-ux-tests', ['ux.angular'])
        .controller('testController', ['$scope', ($scope) => {}]);
    </script>
  </head>
  <body ng-controller="testController">
    <fieldset class="examples">
      <legend>Comboboxes</legend>
      <div>
        <label>Standard Combobox:</label>
        <ux-combobox ng-model="combobox_standard" name="combobox-standard">
          <ux-option value="1st">First</ux-option>
          <ux-option value="2nd">Second</ux-option>
          <ux-option value="3rd">Third</ux-option>
          <ux-option value="4th">Fourth</ux-option>
        </ux-combobox>
        <span>Value: [{{ combobox_standard }}]</span>
      </div>
      <div>
        <label>Placeholder:</label>
        <ux-combobox ng-model="combobx_standard_placeholder" placeholder="Select One...">
          <ux-option value="1st">First</ux-option>
          <ux-option value="2nd">Second</ux-option>
          <ux-option value="3rd">Third</ux-option>
          <ux-option value="4th">Fourth</ux-option>
        </ux-combobox>
        <span>Value: [{{ combobx_standard_placeholder }}]</span>
      </div>
      <div>
        <label>Initial Selection:</label>
        <ux-combobox ng-model="combobox_standard_initial">
          <ux-option value="1st">First</ux-option>
          <ux-option value="2nd">Second</ux-option>
          <ux-option value="3rd" selected>Third</ux-option>
          <ux-option value="4th">Fourth</ux-option>
        </ux-combobox>
        <span>Value: [{{ combobox_standard_initial }}]</span>
      </div>
      <div>
        <label>Multi-Select:</label>
        <ux-combobox ng-model="combobox_standard_multiselect" ux-combobox-multiselect="{ 'separator': ';' }">
          <ux-option value="1st">First</ux-option>
          <ux-option value="2nd">Second</ux-option>
          <ux-option value="3rd" selected>Third</ux-option>
          <ux-option value="4th" selected>Fourth</ux-option>
        </ux-combobox>
        <span>Value: [{{ combobox_standard_multiselect }}]</span>
      </div>
      <div>
        <label>Editable Combobox:</label>
        <ux-combobox ng-model="combobox_editable" ux-combobox-editable>
          <ux-option value="1st">First</ux-option>
          <ux-option value="2nd">Second</ux-option>
          <ux-option value="3rd">Third</ux-option>
          <ux-option value="4th">Fourth</ux-option>
        </ux-combobox>
        <span>Value: [{{ combobox_editable }}]</span>
      </div>
      <div>
        <label>Placeholder:</label>
        <ux-combobox ng-model="combobox_editable_placeholder" placeholder="Select One..." ux-combobox-editable>
          <ux-option value="1st">First</ux-option>
          <ux-option value="2nd">Second</ux-option>
          <ux-option value="3rd">Third</ux-option>
          <ux-option value="4th">Fourth</ux-option>
        </ux-combobox>
        <span>Value: [{{ combobox_editable_placeholder }}]</span>
      </div>
      <div>
        <label>Initial Selection:</label>
        <ux-combobox ng-model="combobox_editable_initial" placeholder="Select One..." ux-combobox-editable>
          <ux-option value="1st">First</ux-option>
          <ux-option value="2nd">Second</ux-option>
          <ux-option value="3rd" selected>Third</ux-option>
          <ux-option value="4th">Fourth</ux-option>
        </ux-combobox>
        <span>Value: [{{ combobox_editable_initial }}]</span>
      </div>
      <div>
        <label>Multi-Select:</label>
        <ux-combobox ng-model="combobox_editable_multiselect" ux-combobox-editable ux-combobox-multiselect>
          <ux-option value="1st">First</ux-option>
          <ux-option value="2nd">Second</ux-option>
          <ux-option value="3rd" selected>Third</ux-option>
          <ux-option value="4th" selected>Fourth</ux-option>
        </ux-combobox>
        <span>Value: [{{ combobox_editable_multiselect }}]</span>
      </div>
    </fieldset>
  </body>
</html>
