// Greyscale Colors
$color-white: rgb(255, 255, 255);
$color-grey-light: rgb(230, 230, 230);
$color-grey-medium: rgb(200, 200, 200);
$color-grey-dark: rgb(150, 150, 150);
$color-black: rgb(0, 0, 0);

// Highlight Colors
$color-outline: rgb(77, 144, 254);
